<div class="grey-bar">
	<div class="container">
		<div class="row mt40 mb20">
			<div class="col-sm-6 show-for-mobile hide-for-large">
				<%= image_tag "fpo-home-portfolio.png", class: "home-port-img" %>
			</div>
			<div class="col-sm-6 mt30 project-details">
				<h2>Featured Project</h2>
				<h3>Minfulocity</h3>
				<p>Minfulocity promotes the Healing Principles From Yoga, Meditation, Holistic Nutrition, Ayurveda and Traditional Chinese Medicine.</p>
				<ul>
					<li>Logo and Branding Design</li>
					<li>UX (User experience) Design</li>
					<li>Responsive Website Design and Development</li>
					<li>Content Management</li>
					<li>E-Commerce Integration</li>
				</ul>
				<a href="/portfolio/" class="btn btn-primary">View Portfolio</a>
			</div>
			<div class="col-sm-6 hide-for-mobile">
				<%= image_tag "fpo-home-portfolio.png", class: "home-port-img" %>
			</div>
		</div>
	</div>
</div>