<div class="row" style="margin: 0px;">
	<div id="slider-container" class="col-12 col-lg-12 col-sm-12" style="display: block;">
		<!-- Lush Slider (autoload) -->
		<div id="main-slider" class="lush-slider container lush-skin-borderless" data-slider-pause-on-hover="true" >
    <!-- Slide 1 -->
	    <div class="lush row active paused">
				<div class="banner_txt col-12 col-lg-12 col-sm-12 in fade live" data-slide-in="at 600 from fade use easeOutBack during 600" data-slide-out="at 1500 to fade use easeInBack during 600">
					<p>Looking for a boutique <br>Toronto web design agency? <br></p>
					<b>We <i style="color: #e84c3d;" class="fa fa-heart"></i> to craft awesomeness</b>
				</div>
				<div class="banner_link col-12 col-lg-12 col-sm-12 in bounce-top live"  data-slide-in="at 500 from bounce-top during 1000" data-slide-out="at 1500 to fade use easeInBack during 600">
					<a href="#services" class="anchorLink">
						<%= image_tag "arrow-circle-white.png", onmouseover: "this.src='/assets/arrow-circle-red-2e5ffb1d12d80a0e92527a400dd0dbcf7767ab071fe4b90b17a46ff3231a0410.png'", onmouseout: "this.src='/assets/arrow-circle-white-2842954beef094935148a5358c28fb81780396339eab1a5157f67a8253685c63.png'" %>
						<!-- <img src="/images/layout/arrow-circle-white.png" onmouseover="this.src='/images/layout/arrow-circle-red.png'" onmouseout="this.src='/images/layout/arrow-circle-white.png'"> -->
					</a>
				</div>
			</div> <!-- EO slide1 -->

			<div class="lush-shadow"></div>
		</div>
	<!-- /Lush Slider -->
	</div>

	<!-- Required javascript -->
	<% content_for :javascript do %>
		<%#= javascript_include_tag 'lush'%>
	<% end %>

	<!-- Lush styles -->
	<% content_for :css do %>
		<%#= stylesheet_link_tag 'lush', 'lush_animations' %>
	<% end %>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<!-- Plugin invocation -->
	<script>
		$(function(){
			$('#main-slider').lush({
	            baseWidth: 960,
			    baseHeight: 625,
			    deadtime: 5000,
			    manual: true,
			    slider: {
			    	navigation: false,
			    	responsive: true
				}
			});
		})
	</script>

	<!-- Slider custom styles -->
	<style type="text/css">
		#slider-container {
			width:100%;
			overflow-y:hidden;
			background: url('/assets/banner17-cc0d0a267e92c1f389387d88c10e7f83f6076ec44367e589e080703d559e5a73.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-attachment: fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.banner_txt { text-align: center; }
		.banner_txt p, .banner_txt b { display: block; font-size: 54px; margin: 0 0 12px 0; font-family: 'Roboto', sans-serif; color: #2c3e50; font-weight: 100; line-height: 56px; }
		.banner_txt b { font-weight: 700; }
		.banner_link { text-align: center; }
		.banner_txt, .banner_link { width: 960px; padding: 0; }
		.lush * { white-space: normal !important; }

		@media only screen and (max-width: 1024px) {
			#slider-container {
				/*background-size: 100% auto;*/
				background-attachment: scroll;
			}
		}
	</style>			
	<div class="clear"></div>
</div>
