<div class="container">
	<div class="row mid-h1 mt70">
		<div class="col-12 col-lg 12">
			<a name="services"></a>
			<p class="text-center ltitle36">We build stunning websites from the ground up. <br>What can we do for your organization?</p>
		</div>
	</div>

	<div class="row hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
		<div class="col-lg-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/creative-web-and-ui-design.php"><i class="fa fa-heart">&nbsp;</i></a>
				<p class="ftitle">Creative Web &amp; UI Design</p>
				<p class="fbody">Grow your business <br>
				with a great website</p>			
				<p class="text-center pbtn"><a href="/creative-web-and-ui-design.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/web-and-mobile-development.php"><i class="fa fa-code">&nbsp;</i></a>
				<p class="ftitle">Web &amp; Mobile Development</p>
				<p class="fbody">Custom programming <br>
				adds power and profits</p>
				<p class="text-center pbtn"><a href="/web-and-mobile-development.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/search-engine-optimization.php"><i class="fa fa-search">&nbsp;</i></a>
				<p class="ftitle">Search Engine Optimization</p>
				<p class="fbody">Make your website <br>
				easier to find. </p>
				<p class="text-center pbtn"><a href="/search-engine-optimization.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>
	</div>

	<div class="row mproject-btn">
		<div class="col-12 col-lg-12">
			<p class="text-center"><a href="/services.php" class="btn btn-warning">View All Our Services</a></p>
		</div>
	</div>

	<div class="row bot-h1">
		<div class="col-12 col-lg 12">
			<p class="text-center ltitle36">We believe in creativity, one-on-one service,<br> 
			and relationships that develop over time.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 col-sm-6">
			<p>Looking for a Toronto web design company?  What you need isn’t another generic website - it’s a custom-built web presence backed by a team of experienced Internet strategists. Since 2006, Silentblast has been that team, helping our clients to blend stunning aesthetics, fresh content, robust functionality, and proven marketing techniques into a profitable mix.</p>
		</div>
		<div class="col-lg-6 col-xs-12 col-sm-6">
			<p>We aren’t interested in creating new pages; we want to help you build a better, smarter business. That’s why we start every project by getting to know you and your business... it’s the only way we can deliver the results you need for your next website.</p>
		</div>
	</div>

	<div class="row mdevice">
		<div class="col-12 col-lg-12">
			<p class="text-center">
				<%= image_tag "img-devices.jpg", alt: "" %>				
				</p>
		</div>
	</div>

	<div class="row mproject-btn">
		<div class="col-12 col-lg-12">
			<p class="text-center"><a href="/about-us.php" class="btn btn-warning">Learn More About Us</a></p>
		</div>
	</div>
</div>