<div class="container">
	<div class="row mt70">
		<div class="col-lg-6 col-xs-12 col-sm-6">
			<p>Since 2006, we’ve been building a reputation as Toronto’s top resource for custom web design, with hundreds of beautiful websites and a portfolio full of web design, development, and SEO success stories.</p>
			<p>But really, who cares?</p>
			<p>The accomplishments we are most proud of aren’t the ones you’ll find on our resumés. What really separates us from the rest isn’t our artistic instincts or technical capabilities, as impressive as we think they might be...</p>
			<hr>
			<p><b>What really makes Silentblast special is the fact that we’ve been able to help the companies we serve to grow their sales, improve their public profile, and even attract better employees. The websites we’ve built have generated more than 10 million visits and counting, transforming numerous small and medium-sized businesses along the way.</b></p>
			<hr>
		</div>
		<div class="col-lg-6 col-xs-12 col-sm-6">
			<p>That doesn’t come from being clever or mastering the right piece of software - it happens because we are as passionate about generating revenue for your company as we are being artistic geniuses.</p>
			<p>Clients love us because we love working for them, and because we get results. We’re not a design firm obsessed with cutting-edge graphics, and we aren’t a group of techy savants who can’t wait to try the latest gadget or tinker with endless lines of code. We’re your design, development, and marketing partner, committed to giving you the online tools you need to grow.</p>
			<p>Technology is great, but it’s important to remember that at the other end of your website is an actual person. At Silentblast, we focus on getting to know that person, and your business, to produce extraordinary results.</p>

			<ul class="li-style">

				<li><a href="/clientlist.php" alt="toronto web design projects">View some past clients</a></li>
			</ul>
		</div>
	</div>

	<!-- Button trigger modal -->
	<p class="text-center mt70 mb80"><button class="btn btn-warning" data-toggle="modal" data-target="#myModal">
	  Read Our Manifesto
	</button></p>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title" id="myModalLabel">The Silentblast Experience</h4>
	      </div>
	      <div class="modal-body">
	        <h2>Our Manifesto</h2>
	        <p>We know you'll <i style="color: #e84c3d;" class="fa fa-heart"></i> working with us. We deliver user experiences that bring together creative thinking, smart ideas and emerging technologies to drive our clients' businesses.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>

	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>