<div class="container">
	<div class="row top-h1 ltitle48">
		<div class="col-12 col-lg-12 col-sm-12 ">
			<h1 class="text-center">We Build High-Quality Custom Websites<br>(and More Profitable Businesses)</h1>
		</div>
	</div>
	<div class="row mservice hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/creative-web-and-ui-design.php"><i class="fa fa-heart">&nbsp;</i></a>
				<p class="ftitle">Creative Web Design</p>
				<p class="fbody">Grow your business <br>
				with a great website</p>
				<p class="text-center pbtn"><a href="/creative-web-and-ui-design.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/web-and-mobile-development.php"><i class="fa fa-code">&nbsp;</i></a>
				<p class="ftitle">Web &amp; Mobile Development</p>
				<p class="fbody">Custom programming <br>
				adds power and profits</p>
				<p class="text-center pbtn"><a href="/web-and-mobile-development.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/search-engine-optimization.php"><i class="fa fa-search">&nbsp;</i></a>
				<p class="ftitle">Search Engine Optimization</p>
				<p class="fbody">Make your website <br>
				easier to find. </p>
				<p class="text-center pbtn"><a href="/search-engine-optimization.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>
	</div>

	<div class="row hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/brand-identity.php"><i class="fa fa-rocket">&nbsp;</i></a>
				<p class="ftitle">Brand Identity</p>
				<p class="fbody">Carve out your place<br>
				in the market</p>
				<p class="text-center pbtn"><a href="/brand-identity.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/social-media-management.php"><i class="fa fa-bullhorn">&nbsp;</i></a>
				<p class="ftitle">Socialblast</p>
				<p class="fbody">Social Media Management<br>
				done right</p>
				<p class="text-center pbtn"><a href="/social-media-management.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
			<div class="feature-bg">
				<a class="hi-icon" href="/wordpress-website-design.php"><i class="fa fa-wordpress">&nbsp;</i></a>
				<p class="ftitle">Wordpress Website Design</p>
				<p class="fbody">Take full control <br>
				of your website</p>
				<p class="text-center pbtn"><a href="/wordpress-website-design.php" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>
	</div>

	<div class="row mmid">
		<div class="col-12 col-lg 12">		
			<p class="text-center"><a href="/process.php" class="btn btn-primary">Learn More About Our Process</a></p>
			<p class="text-center ltitle36">Are you ready to start a conversation?</p>
			<p class="text-center">We would <i style="color: #e84c3d;" class="fa fa-heart"></i> to hear about your project</p>
			<p class="text-center"><a href="/get-in-touch.php" class="btn btn-warning">Get In Touch</a></p>
		</div>
	</div>
</div>