.grid {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 1920px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 100%;
	height: 337px;
	background: none;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
/*	position: relative; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;

	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
	opacity: 0;
}

.grid figure p {

}

/* Individual effects */

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	line-height: 24px;
	padding: 0px 50px;
}
figure.effect-sadie h2 > span {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
	line-height: 24px;
	text-transform: none;
	display: block;
}
figure.effect-sadie h2 > btn {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
	line-height: 12px;
	padding: 6px 18px;
	background: #e84c3d;
	border-radius: 5px;
	text-transform: none;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	opacity: 1;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* Portfolio Page */

.grid figure p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #FFF;
}

btn.btn-portfolio {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #FFF;
	line-height: 17px;
	background: #1abc9c;
	padding: 8px 20px;
	border-radius: 4px;
	display: inline-block;
	text-transform: none;
	margin-top: 20px;
}



/* ============================================================
  GLOBAL
============================================================ */
.effects {
  background: #FFF;
}
.effects .img {
  position: relative;
  overflow: hidden;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.5s;
  margin-bottom: 0px;
}

span.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-weight: 100;
  font-size: 60px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
.effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.effect-1 .overlay span.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
.effect-1 .img.hover .overlay {
  height: 100%;
}