<footer id="footer" style="display: block;">
	<div class="container">

		<div class="row">
			<div class="col-12"><div style="height: 45px;"></div></div>
		</div>
		<div class="row footer-bot">
			<div class="col-lg-4 col-xs-12 col-sm-4 farea1 mob-center">
				<p class="footer-title mservice">Our core services</p>
				<ul>
					<li><a href="/creative-web-and-ui-design.php">Creative Web and UI Design</a></li>
					<li><a href="/web-and-mobile-development.php">Web and Mobile Development</a></li>
					<li><a href="/search-engine-optimization.php">Search Engine Optimization</a></li>
					<li><a href="/brand-identity.php">Brand Identity</a></li>
					<li><a href="/social-media-management.php">Social Media Management</a></li>
					<li><a href="/web-content-and-copywriting.php">Web Content</a></li>
				</ul>
			</div>

			<!-- INSIGHTS TEASERS -->
		<div class="col-lg-4 col-xs-12 col-sm-4 lr-border farea2">
			<p class="footer-title mservice">Latest Insights</p>
	    	<div class="blog-teasers widget">
	    		<div class="blog-teasers-inner mob-center">
	    			<ul>
	    											<li>
	    						<h3><a href="/insights/details.php?id=78">Holiday Shopping Trends 2015: 3 Predictions for Retailers</a></h3>
							</li>
														<li>
	    						<h3><a href="/insights/details.php?id=74">Make your brand social, across the web</a></h3>
							</li>
														<li>
	    						<h3><a href="/insights/details.php?id=70">5 Questions to Ask Yourself Before You Devote More Time to Social Media</a></h3>
							</li>
														<li>
	    						<h3><a href="/insights/details.php?id=13">Missing Mobile Compatibility? 3 Steps to Take Today</a></h3>
							</li>
														<li>
	    						<h3><a href="/insights/details.php?id=11">WordPress Security and why you should care</a></h3>
							</li>
								    			</ul>
	    		</div>
	    	</div>
	    </div>
<!-- EO INSIGHTS TEASERS -->
			<!--<div class = "col-lg-4 col-xs-12 col-sm-4 lr-border farea2">
				<p class="footer-title mservice">Latest from our blog</p>
				<ul>
					<li><a href="#">Transfering large files made simple and secure</a></li>
					<li><a href="#">Adding music or audio on your website, blog or social media site</a></li>
					<li><a href="#">Adding music or audio on your website, blog or social media site</a></li>
				</ul>
			</div>-->
			<div class="col-lg-4 col-xs-12 col-sm-4 farea3 mob-center">
				<p class="footer-title mservice">Get In Touch</p>
				<p>Toronto : <b>(416) 900-0869</b></p>
				<a href="/get-in-touch.php" class="footer-contact">+ Contact Us</a>
				

				<hr>
				<p><b>Existing Clients</b></p>
				<a href="https://books.zoho.com/portal/silentblastinc/login" class="footer-contact">+ Client Portal</a><br>
				<a href="/hosting-support.php" class="footer-contact">+ Hosting &amp; Technical Support</a>


				<div class="mcontact social">
					<p class="mob-center">
						<a href="http://www.facebook.com/silentblastinteractive"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/#!/silentblast"><i class="fa fa-twitter"></i></a>
						<a href="https://plus.google.com/109335371201079665242/about"><i class="fa fa-google-plus"></i></a>
						<a href="http://pinterest.com/silentblast/"><i class="fa fa-pinterest-p"></i></a>
						<a href="https://instagram.com/silentblast/"><i class="fa fa-instagram"></i></a>
					</p>
				</div>
			</div>
		</div>


	</div>
	<script type="text/javascript">
		var url = window.location;
		// Will only work if string in href matches with location
		$('ul.nav a[href="'+ url +'"]').parent().addClass('active');
	</script>

	<script type="text/javascript">
		$(".port-item").hover(function () {
		 $(this).find(".port-hover").fadeTo(50, 1);
		},
		function(){
		    $(this).find(".port-hover").fadeTo(50, 0);
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("select").selectpicker({style: 'btn-hg btn-primary', menuStyle: 'dropdown-inverse'});

			// style: select toggle class name (which is .btn)
			// menuStyle: dropdown class name

			// You can always select by any other attribute, not just tag name.
			// Also you can leave selectpicker arguments blank to apply defaults.
		});
	</script>

</footer>